<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="jp.hishidama.eclipse_plugin.jdt.method.modifyMethodInvocation"
            name="Modify Method Invocation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.jdt.method.ModifyMethodInvocationHandler"
            commandId="jp.hishidama.eclipse_plugin.jdt.method.modifyMethodInvocation">
         <enabledWhen>
            <with variable="activeEditorId">
               <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
