<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="jp.hishidama.eclipse_plugin.jdt.method.modifyMethodInvocation"
            name="Modify Method Invocation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.jdt.method.ModifyMethodInvocationHandler"
            commandId="jp.hishidama.eclipse_plugin.jdt.method.modifyMethodInvocation">
         <enabledWhen>
            <with variable="activeEditorId">
               <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
            </with>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.search.searchPages">
      <page
            id="jp.hishidama.eclipse_plugin.jdt.search.javaStringSearchPage"
            label="String Search"
            sizeHint="460,160"
            extensions="java:90, jav:90"
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            class="jp.hishidama.eclipse_plugin.jdt.search.JavaStringSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            id="jp.hishidama.eclipse_plugin.jdt.search.javaStringSearchResultPage"
            searchResultClass="jp.hishidama.eclipse_plugin.jdt.search.JavaStringSearchResult"
            helpContextId="org.eclipse.jdt.ui.java_search_result"
            class="jp.hishidama.eclipse_plugin.jdt.search.JavaStringSearchResultPage">
      </viewPage>
   </extension>
</plugin>
